# ==========================================
# Database Configuration (PostgreSQL 16/18)
# ==========================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=servicedesk_db
POSTGRES_PORT=5433
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/servicedesk_db?schema=public

# ==========================================
# pgAdmin 4 Configuration
# ==========================================
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@servicedesk.local
PGADMIN_DEFAULT_PASSWORD=adminpassword

# ==========================================
# Application Configuration
# ==========================================
APP_PORT=3000

# ==========================================
# Authentication & JWT
# ==========================================
JWT_SECRET=superSecretKeyForServiceDesk12345
JWT_EXPIRES_IN=7d

# ==========================================
# 👑 Admin Credentials & Variables
# ==========================================
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password
ADMIN_NEW_PASSWORD=your_new_password
ADMIN_REGISTER_FIRSTNAME=Firstname
ADMIN_REGISTER_LASTNAME=Lastname
ADMIN_REGISTER_EMAIL=admin@example.com

# ==========================================
# 👤 User Credentials & Variables
# ==========================================
USER_EMAIL=user@example.com
USER_PASSWORD=your_user_password
USER_NEW_PASSWORD=your_new_password
USER_REGISTER_USERNAME=username
USER_REGISTER_EMAIL=user@example.com
